solvation_sample.7z filter=lfs diff=lfs merge=lfs -text
adsorption_sample.7z filter=lfs diff=lfs merge=lfs -text
contact_angle.7z filter=lfs diff=lfs merge=lfs -text
UMs.tar.xz filter=lfs diff=lfs merge=lfs -text
adsorption_sample.tar.xz filter=lfs diff=lfs merge=lfs -text
